* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 19, 25);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: rgb(249, 244, 239);
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1600px;
  background-color: rgb(33, 19, 25);
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin: 10px;
}

header {
  background-color: rgb(33, 19, 25);
  text-align: center;
  font-family: "Indie Flower", cursive;
}

img {
  margin-right: 20px;
  margin-left: 20px;
}

#hero_banner {
  background-color: rgb(33, 19, 25);
  background-image: url("https://source.unsplash.com/CH-ZZW8cbac/1200x200");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: rgb(249, 244, 239);
  text-align: center;
  width: 1200px;
  height: 200px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}

#past {
  background-color: rgb (33, 19, 25);
  color: rgb(255, 199, 158);
  text-align: left;
  width: 1200px;
  height: 100px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}

#present {
  background-color: rgb(33, 19, 25);
  color: rgb(255, 199, 158);
  text-align: left;
  width: 1200px;
  height: 100px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}

#future {
  background-color: rgb(33, 19, 25);
  color: rgb(255, 199, 158);
  text-align: left;
  width: 1200px;
  height: 100px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  color: rgb(249, 244, 239);
  font-family: "Indie Flower", cursive;
}

/* unvisited link */
a:link {
  color: rgb(249, 244, 239);
}

/* visited link */
a:visited {
  color: rgb(211, 155, 130);
}

footer {
  background-color: rgb(255, 199, 158);
  color: rgb(33, 19, 25);
  text-align: center;
  height: 20px;
  font-family: "Indie Flower", cursive;
}
