body {
  background-color: aqua;
}

@media screen and (max-width: 950px) {
  body {
    background-color: yellow;
  }
}

@media screen and (max-width: 992px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: greenyellow;
  }
}

@media screen and (max-width: 576px) {
  body {
    background-color: grey;
  }
}
